 #basictable {
	border:0px solid #000
}

html {
    min-height: 100%;
	font-family:verdana;
	font-size:10pt;
	text-align:left;
	text-decoration: none;
	color:black;
}

#menutext {
	font-family:verdana;
	font-size:12pt;
	text-align:center;
	text-decoration: none;
	color:white;
}

#titletext {
	font-family:verdana;
	font-size:16pt;
	font-weight:bold;
	text-align:center;
	text-decoration: none;
	color:#1F477D;
}

#subtitletext {
	font-family:verdana;
	font-size:12pt;
	font-weight:bold;
	text-align:left;
	text-decoration: none;
	color:#1F477D;
}

#subtitletextcenter {
	font-family:verdana;
	font-size:12pt;
	font-weight:bold;
	text-align:center;
	text-decoration: none;
	color:#1F477D;
}

#topictext {
	font-family:verdana;
	font-size:10pt;
	font-weight:bold;
	text-align:left;
	text-decoration: none;
	color:#1F477D;
}
#topictextcenter {
	font-family:verdana;
	font-size:10pt;
	font-weight:bold;
	text-align:center;
	text-decoration: none;
	color:#1F477D;
}

#bodytextcenter {
	font-family:verdana;
	font-size:10pt;
	text-align:center;
	text-decoration: none;
	color:black;
}

#center {
	text-align:center;
}

tdleftbuttonmenu a {
    display:block;
	height:100%;
    width:100%;
}

#tdleftmenubutton {
    display:block;
	background:grey;
	height:30%;
    width:100%;
}


#tdleftmenubutton:hover{
	background:#1F477D;
	text-color:black;
	width:100%;
	height:100%;
    display: block;
}

div.container {
      display:inline-block;
 }

iframe[seamless] {
    border: none;
}